.footer-section {
  background-color: var(--fifth-color);
  color: #fff;
  padding: 60px 20px 20px 20px;
  margin-top: 40px;
  direction: rtl;
}

.footer-container {
  max-width: 1300px;
  margin: 0 auto;
}

.footer-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
}

@media (max-width: 992px) {
  .footer-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 640px) {
  .footer-grid {
    grid-template-columns: 1fr;
  }
}
.footer-logo{
  text-decoration: none;
}
.footer-logo h2 {
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 15px;
}
.footer-logo img{
  width: 70px;
  height: 70px;
}

.footer-about {
  color: #dcdcdc;
  font-size: 14px;
  line-height: 1.7;
  margin-bottom: 20px;
}

.footer-title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 15px;
  /* border-bottom: 2px solid var(--second-color); */
  display: inline-block;
  padding-bottom: 5px;
}

.footer-links {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-links li {
  margin-bottom: 10px;
}

.footer-links a {
  color: #dcdcdc;
  text-decoration: none;
  transition: color 0.3s;
}

.footer-links a:hover {
  color: #ffffff;
}

.footer-contact {
  list-style: none;
  padding: 0;
}

.footer-contact li {
  margin-bottom: 12px;
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
}

.footer-link {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s;
}

.footer-link:hover {
  color: #62a4d4;
}

.footer-social {
  display: flex;
  gap: 12px;
  margin-top: 10px;
}

.social_icon {
  color: #fff;
  transition: color 0.3s, transform 0.3s;
}

.social_icon:hover {
  color: #62a4d4;
  transform: translateY(-3px);
}

.footer-divider {
  border: none;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  margin: 30px 0;
}

.footer-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
  font-size: 14px;
  color: #ccc;
}
.footer-col{
  display: flex;
  align-items: right;
  justify-content: center;
  flex-direction: column;
}

@media (min-width: 768px) {
  .footer-bottom {
    flex-direction: row;
    justify-content: space-between;
  }
}

.underline {
  text-decoration: underline;
}
